Options -Indexes
<FilesMatch "^(\.env|.*\.sql|README\.md)$">
  Require all denied
</FilesMatch>
RewriteEngine On
RewriteRule (^|/)\. - [F,L]
RewriteRule ^(config|includes|database|logs|tests)/ - [F,L]
